<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Todo</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form th:action="'/todo/'+${todo.id}+'/edit'" method="post">
    <h1>Edit Todo</h1>
    Todo description <input type="text" th:value="${todo.title}" name="description">
    <br>
    Urgent <input type="checkbox" th:checked="${todo.urgent}" name="urgent">
    <br>
    Done <input type="checkbox" th:checked="${todo.done}" name="done">
    <br>
    <input type="submit" value="Submit!"> <a href="/todo/">Cancel</a>
</form>
</body>
</html>