<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connection with MySQL</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Todos for today:</h1>
<div>
    <a href="/todo/addtodo">Add new todo</a><br><br>
    <a href="/todo/?isActive=true">List completed todos</a><br>
    <a href="/todo/?isActive=false">List unfinished todos</a><br>
    <a href="/todo/">List all todos</a><br>
    <form action="/todo/search" method="post">
        Look for: <input type="text" name="search"><input type="submit" value="Search!">
    </form>
</div>

<table class="mytableclass">
    <tr>
        <th>ID</th><th>ACTION</th><th>DONE</th><th>URGENT</th><th></th><th></th>
    </tr>
    <tr th:each="todo : ${todolist}" th:if="${not #lists.isEmpty(todolist)}">
        <td th:text="${todo.id}"></td><td th:text="${todo.title}"></td><td th:text="${todo.done}"></td><td th:text="${todo.urgent}"></td>
        <td><a th:href="'/todo/delete/?id='+${todo.id}">Delete</a></td>
        <td><a th:href="'/todo/'+${todo.id}+'/edit'">Update</a></td>
    </tr>
</table>
</body>
</html>